{% extends 'base.html.twig' %}

{% block title %}Edit Tag{% endblock %}

{% block content %}
    <h1>Modifer un tag</h1>

    {{ include('back/tag/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <a href="{{ path('tag_index') }}">Retour à la liste des tags</a>

    {{ include('back/tag/_delete_form.html.twig') }}
{% endblock %}
